body :first-child{
    background: linear-gradient(blue, pink);
}

body :last-child{
    background: radial-gradient(#f69d3c, #3f87a6);
}
body :nth-child(2){
    background: linear-gradient(rgb(235, 124, 255), rgb(170, 8, 8), rgb(208, 255, 0), orange);
}

body :nth-child(3){
    background: linear-gradient(blue, 10%, pink);
}
body :nth-child(4){
    background:
      linear-gradient(217deg, rgba(248, 255, 144, 0.8), rgba(255,0,0,0) 70.71%),
      linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
      linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
body > div {
    width: 200px;
    height: 20px;
    margin: 10px;
    background-color: aquamarine;
}







